<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

{% for article in articles %}
  <url>
    <loc>http://axil.github.io/{{ article.url }}</loc>
    <priority>0.8</priority>
    <lastmod>{{ article.date.date() }}</lastmod>
  </url>

  {% for translation in article.translations %}
  <url>
    <loc>http://axil.github.io/{{ translation.url }}</loc>
    <priority>0.8</priority>
  </url>
  {% endfor %}
{% endfor %}

{% for page in pages %}
  <url>
    <loc>http://axil.github.io/{{ page.url }}</loc>
    <priority>1.0</priority>
  </url>

  {% for translation in page.translations %}
  <url>
    <loc>http://axil.github.io/{{ translation.url }}</loc>
    <priority>1.0</priority>
  </url>
  {% endfor %}
{% endfor %}

</urlset>
